asgiref==3.7.2
black==23.12.1
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
idna==3.6
isort==5.13.2
mypy-extensions==1.0.0
nylas==5.14.1
packaging==23.2
pathspec==0.12.1
platformdirs==4.1.0
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.9.0
urllib3==2.1.0
URLObject==2.4.3
websocket-client==0.59.0
asgiref==3.7.2
dj-database-url==2.1.0
Django==3.2
gunicorn==21.2.0
packaging==23.2
psycopg2-binary==2.9.9
sqlparse==0.4.4
django-cors-headers==4.0.0
whitenoise==6.2.0
Brotli==1.0.9