<!-- all_nylas_accounts.html -->
<!DOCTYPE html>
<html>
<head>
    <title>All Nylas Accounts</title>
</head>
<body>
<h1>
    My Nylas Accounts
</h1>
<hr>

<p>
    <a class="button" href="{% url 'send_email' %}">Send Mail</a> &nbsp;
    <a class="button" href="{% url 'read_emails' %}">Read Mail</a> &nbsp;
    <a class="button" href="{% url 'all_nylas_accounts' %}">All Accounts</a> &nbsp;

</p><hr>

    <table border="1">
        <thead>
            <tr>
                <th>Account ID</th>
                <th>Email Address</th>
                <th>billing_state</th>
                <th>provider</th>
                <th>sync_state</th>
                                <th>Delete</th>
                <th>Retry Sync</th>

            </tr>
        </thead>
        <tbody>
{#        {{ account_data }}#}
            {% for account in account_data %}
                <tr>
                    <td>{{ account.id }}</td>
                    <td>{{ account.email_address }}</td>
                    <td>{{ account.billing_state }}</td>
                    <td>{{ account.provider }}</td>
                    <td>{{ account.sync_state }}</td>
                  <td>
                        <form method="post" action="{% url 'all_nylas_accounts' %}">
                            {% csrf_token %}
                            <input type="hidden" name="delete_account_id" value="{{ account.id }}">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                <td>
                        <form method="post" action="{% url 'all_nylas_accounts' %}">
                            {% csrf_token %}
                            <input type="hidden" name="retry_sync_account_id" value="{{ account.id }}">
                            <button type="submit">Retry Sync</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
